/* Main */

/* .main_content{
  } */
  
  .main_container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    z-index: 60;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/*Header
------------*/

body{
    height: 2000px;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    height: 100px;
}

.header__container{
    position: relative;
}

.header__content {
    position: absolute;
    width: 100%;
    height: 100px;
    user-select: none;
    overflow: hidden;
    border-radius: 0% 0% 30% 30%;
}

.contentvideo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    user-select: none;
  }

.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    background-color: black;
    opacity: 40%;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.herosection{
    height: 100vh;
    background-color: green;
    padding-top: 104px;
    display: flex;
    align-items: center;
}

.history_section{
    background: url(/images/Хмар.png) no-repeat center;
    background-size: cover;
}

.history_content{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.history_video{
    background-color:red; border: 3px solid black; width: 300px; height: 300px;
    transform: translateX(-200%);
    opacity: 0;
    transition: opacity 1s, transform 2s ease;
}

.history_article{
    background-color:green; border: 3px solid black; width: 300px; height: 300px;
    transform: translateX(200%);
    opacity: 0;
    transition: opacity 1s, transform 2s ease;
}

.slider_section{
    background-color: blue;
    padding: 60px 0;
}

.splide_card{
    width: 100%;
    height: 400px;
}

.schedule_section{
    background-color: aqua;
    padding: 60px 0;
    height: 500px;
}

.schedule_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.heigth_100{
    height: 100%;
}

.first_schedule{
    height: 50%;
    width: 100%;
    background: url(/images/back.jpg) no-repeat center;
    background-size: cover;
}

.schedule_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    transition: all 1s;
}

.first_schedule:hover .schedule_content{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.519);
} 

.second_schedule{
    height: 50%;
    width: 100%;
    background: url(/images/back2.jpg) no-repeat center;
    background-size: cover;
}

.second_schedule:hover .schedule_content{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.519);
} 

.map_section{
    padding: 60px 0;
    background-color: coral;
}

.map_section_content{
    display: flex;
    justify-content: space-between;
    height: 500px;
}

#map{
    width: 50%;
    height: 100%;
}

.map_section_image{
    width: 48%;
    background: url(/images/first.jfif) no-repeat center;
    background-size: cover;
}

.map_section_buttons{
    display: flex;
    justify-content: space-between;
    padding: 40px 200px 0px 200px;
}

.map_button{
    min-width: 150px;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    background-color: white;
    color: black;
    outline: 2px solid black;
    cursor: pointer;
    transition: all .3s;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.map_button_active{
    background-color: black!important;
    color: white!important;
}

.map_button:hover{
    background-color: black;
    color: white;
}

