/* Main */

/* .main_content{
  } */
  
  .main_container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    z-index: 60;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/*Header
------------*/

body{
    height: 2000px;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    height: 100px;
}

.header__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__content {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    user-select: none;
    overflow: hidden;
    border-radius: 0% 0% 30% 30%;
}

.contentvideo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    user-select: none;
  }

.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider_video{
    border-radius: 5%;
}

.history_section_video{
    border-top-left-radius: 30%;
}

.overlay{
    position: absolute;
    background-color: black;
    opacity: 40%;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.overlay_history{
    border-top-left-radius: 30%;
}

.header_navigation{
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img{
    width: 90px;
    height: 90px;
}

.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    font-size: 17px;
    color:white;
    transition: color .3s;
    padding-left: 30px;
}

.nav_link:hover{
    color:orange;
}




.video_info{
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    color: white;
    transition: all .33s;
}

.video_info h3{
    margin-bottom: 20px;
    font-size: 40px;
}

.video_link{
    height: 25px;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.video_link::after{
    content: "";
    bottom: 0px;
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    transform: translateX(-110%);
    transition: all .3s;
}

.video_link:hover::after{
    transform: translateX(0);
}

.overlay_video{
    border-radius: 5%;
    transition: all .3s;
}

.splide_card:hover .overlay_video{
    opacity: 80%;
}

.splide_card:hover .video_info{
    opacity: 1;
    z-index: 100;
}

.herosection{
    height: 100vh;
    background: url("/images/firstElement.jpg") no-repeat center;
    background-size: cover;
    padding: 104px 0 60px 0;
    display: flex;
    align-items: center;
}

.navig_history{
    position: absolute;
    bottom: 10%;
    left: 0;
}


/*History
-------------*/

.history_section{
    padding: 60px 0;
    background: url(/images/Фон1.png) no-repeat center;
    background-size: cover;
}

.simple{
    background-color: rgb(163, 165, 20);
    width: 100%;
    height: 15px;
}

.history_content{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.history_video{
    position: relative;
    width: 500px; 
    height: 500px;
    transform: translateX(-200%);
    opacity: 0;
    border-top-left-radius: 50%;
    transition: opacity .75s, transform 1.5s ease;
}

.history_article{
    display: flex;
    font-size: 20px;
    background-color: #00000068;
    padding: 40px;
    color: white;
    width: 500px; 
    height: 500px;
    transform: translateX(200%);
    opacity: 0;
    border-bottom-right-radius: 30%;
    transition: opacity .75s, transform 1.5s ease;
    overflow: hidden;
}



/*Slider
-------------*/

.slider_section{
    background: url(/images/Фон2.png) no-repeat center;
    background-size: cover;
    padding: 60px 0;
}

.section_title{
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.splide_card{
    width: 100%;
    height: 500px;
}



/*Shedule
------------*/
.schedule_section{
    background: url(/images/Фон3.png) no-repeat center;
    background-size: cover;
    /* padding: 60px 0; */
    height: 600px;
}

.schedule_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.heigth_100{
    height: 100%;
}

.first_schedule{
    height: 50%;
    width: 100%;
    background: url(/images/back.jpg) no-repeat center;
    background-size: cover;
}

.schedule_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    opacity: 0;
    color: white;
    transition: all .5s;
}

.schedule_content h3{
    margin-bottom: 20px;
    font-size: 30px;
}

.schedule_content p{
    font-size: 20px;
}

.first_schedule:hover .schedule_content{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.519);
} 

.second_schedule{
    height: 50%;
    width: 100%;
    background: url(/images/back2.jpg) no-repeat center;
    background-size: cover;
}

.second_schedule:hover .schedule_content{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.519);
} 

.map_section{
    position: relative;
    padding: 60px 0;
    background: url(/images/Фон4.png) no-repeat center;
    background-size: cover;
}

.map_overlay{
    display: none;
    position: absolute;
    background-color: black;
    opacity: 50%;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.map_section_content{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 500px;
}

#map{
    width: 50%;
    height: 100%;
}

.map_section_image{
    position: relative;
    width: 48%;
    background: url(/images/first.jfif) no-repeat center;
    background-size: cover;
    transition: background .3s, transform .3s, box-shadow .3s;
}

.map_section_image:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px -6px #000000;
}

.map_section_image_active{
    position: absolute;
    z-index: 51;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%!important;
    /* transform: scaleY(1.5); */
}

.map_section_buttons{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px 270px 0px 270px;
}

.map_button{
    z-index: 51;
    min-width: 150px;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: all .3s;
}

.map_button_active{
    color: white!important;
}

.map_button:hover{
    color: white;
}

.underline{
    position: absolute;
    z-index: 51;
    bottom: 3px;
    left: 300px;
    background-color: white;
    height: 2.5px;
    width: 90px;
    border-radius: 100%;
    transition: all .3s;
}

.footer{
    font-size: 18px;
    display: flex;
    padding: 0 250px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
}

.footer_info{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.footer_info p:not(:last-child){
    margin-bottom: 15px;
}

.footer_logo{
    text-align: center;
    width: 300px;
}

.footer_logo_img{
    width: 160px;
}


/* Work Days
-----------------*/
.work {
    display: flex;
    flex-wrap: wrap;
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;

    background-color: rgba(125, 243, 131, 0.90);
    transition: opacity .2s linear;

    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.work_icon {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%,
    -50%,0);
}

.works__title {
    font-size: 25px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(48, 47, 47);
    text-transform: uppercase;
}

.works_text {
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    color: rgb(48, 47, 47);
    opacity: .80;
}

.work_item:hover .works__content {
    opacity: 1;
}

/* Item_One 
-----------------------*/
.work_item_One {
    width: 100%;
    position: relative;
    height: 100px;
    overflow: hidden;
}

.works__titleTop {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.works_textTop {
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    opacity: .90;
}

.work_item_One .works__content {
    opacity: 1;
    background-color: rgba(97, 96, 96, 0.8);
    text-shadow: 2px 1px rgb(0, 0, 0);
    border-radius: 50px;
}
/* Item_Two_Five
-----------------------*/

.work_item {
    width: 100%;
    position: relative;
    height: 275px;
    overflow: hidden;
}


/* Item_Last 
------------------------*/
.work_Last {
    width: 50%;
    position: relative;
    height: 200px;
    overflow: hidden;
}

.work_Last:hover .works__content {
    opacity: 1;
}


/* Item_End 
---------------*/

.work_item_End {
    width: 100%;
    position: relative;
    height: 25px;
    overflow: hidden;
}

.work_item_End .works__content {
    opacity: 1;
    background-color: rgba(97, 96, 96, 0.8);
    border-radius: 20px;
}


.Work_day{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #bce4ff;
    font-weight: 900;
    white-space: nowrap;
    font-size: 170px;
}
